{{#each}}
<section class="section-category">
    <div class="container">
        <h2 class="section-title">{{this}}</h2>
        <a href="#" class="section-link">Смотреть все</a>
        <p class="section-text">
            Товары домашнего обихода, видео, аудио, наушники, камеры, аксессуары и
            многое другое.
        </p>
        <ul class="section-gallery"></ul>
    </div>
</section>
{{/each}}