.footer-section {
  padding-top: 40px;
  padding-bottom: 40px;

  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: center;
  color: $footer-gray-color;
  background-color: $Header-backgound;

  :visited {
    color: inherit;
  }

  @include for-size(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer-wrap {
  @include for-size(mobile-only) {
    margin-right: auto;
    margin-left: auto;
    max-width: 220px;
  }
}

.footer-allrights {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #8c9195;

  @include for-size(tablet) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #8c9195;
  }
}

.icon-footer-heart {
  margin-left: 8px;
  margin-right: 8px;
  fill: $orange-color;
}
