// =================================================
@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  margin: -1px;
}

.advertisement-card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;

  color: $main-black;
  margin-bottom: 5px;
}

.advertisement-card-code {
  margin-top: 5px;

  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;

  color: #878686;
}

.advertisement-card-slider-big-photo {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
  margin-bottom: 15px;
}

.big-photo {
  height: 253px;
  width: 100%;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));

  object-fit: cover;

  @include for-size(mobile-only) {
    @include visually-hidden();
  }

  @include for-size(tablet) {
    height: 284px;
  }

  @include for-size(desktop) {
    height: 350px;
  }
}

.advertisement-card-small-photo {
  margin-top: 15px;
  margin-bottom: 30px;
}

.advertisement-card-slider-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.advertisement-card-slider-list-item {
  cursor: pointer;

  @include for-size(mobile-only) {
    height: 170px;
  }

  @include for-size(tablet) {
    width: 55px;
    height: 55px;

    border-radius: 0;
    background: #f5f6fb;
  }

  @include for-size(desktop) {
    width: 75px;
    height: 75px;
  }
}

.advertisement-card-slider-list-item:not(:last-child) {
  margin-right: 5px;
}

.small-photos {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.advertisement-card-price {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.02em;
  color: $orange-color;

  margin-bottom: 30px;

  @include for-size(tablet) {
    margin-bottom: 40px;
  }

  @include for-size(desktop) {
    margin-bottom: 40px;
  }
}

.product-card-price-button-div {
  display: flex;
  align-items: center;
}

.advertisement-card-button-salesman-info {
  background: $orange-color;
  width: 254px;
  min-height: 60px;
  // height: 60px;
  border: 2px solid $orange-color;

  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $white-color;

  margin-bottom: 20px;

  width: 100%;

  cursor: pointer;

  @include for-size(tablet) {
    width: 300px;
  }

  @include for-size(desktop) {
    width: 255px;
  }
}

.advertisement-card-buttons-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;

  @include for-size(tablet) {
    justify-content: start;
  }

  @include for-size(desktop) {
    // justify-content: space-around;
  }
}

.advertisement-card-favorites-and-share {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #878686;
  margin-right: 13px;
  margin: 0;
}

.advertisement-card-name-container {
  margin-bottom: 20px;
  @include for-size(tablet) {
    display: none;
    order: 2;
  }
}

.advertisement-card-name-container.tablet-desktop {
  display: none;

  @include for-size(tablet) {
    display: block;
  }
}

.advertisement-card-favorites-svg {
  margin-right: 25px;
  margin-left: 13px;
  fill: #878686;
  cursor: pointer;

  @include for-size(tablet) {
    margin-right: 40px;
  }
}

.js-mark-favorites-svg {
  fill: $orange-color;
}

.favorites-div {
  display: flex;
  cursor: pointer;
}

.advertisement-card-share-svg {
  margin-left: 13px;
  fill: #878686;
  cursor: pointer;
}

.advertisement-card-description-title {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #878686;
  margin-bottom: 10px;
}

.advertisement-card-description {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;

  color: $main-black;

  margin: 0;
}

.advertisement-card-container {
  padding-top: 55px;
  padding-bottom: 61px;
  padding-right: 19px;
  padding-left: 19px;

  @include for-size(tablet) {
    padding-top: 57px;
    padding-bottom: 64px;
    padding-right: 55px;
    padding-left: 55px;

    width: 724px;
  }

  @include for-size(desktop) {
    padding-top: 54px;
    padding-bottom: 66px;
    padding-right: 110px;
    padding-left: 110px;

    width: 1024px;
  }
}

.test {
  @include for-size(tablet) {
    width: calc((100%-34px) / 2);
  }
}

.test:not(:last-child) {
  @include for-size(desktop) {
    width: calc((100%-34px) * 428 / 768);
  }
}

.test:last-child {
  @include for-size(tablet) {
    margin-left: 34px;
  }
  @include for-size(desktop) {
    width: calc((100%-34px) * 340 / 768);
  }
}

.flex-container {
  @include for-size(mobile-only) {
    max-width: 300px;
    margin: 0 auto;
  }

  @include for-size(tablet) {
    display: flex;
  }
}

.advertisement-card-slider {
  @include for-size(tablet) {
    order: 1;
  }
}

.advertisement-card-main-container {
  @include for-size(tablet-only) {
    @include for-size(tablet) {
      order: 3;
      max-width: 300px;
    }
  }
}

.salesman-info-list {
  color: $main-black;
  text-transform: lowercase;
  font-size: 15px;
}

.advertisement-card-slider .slider-dot {
  width: 5px;
  height: 5px;
  background: $orange-color;
  margin-right: 5px;
  border-radius: 50%;
}

.salesman-span {
  display: flex;
  justify-content: center;
  width: 137px;
  margin: 0 auto;
}
