<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ITEM-CARD-SECTION</title>

</head>

<body>


<section class="advertisement-card-container">

    <div class="container">

        <div class="flex-container">



            <svg class="advertisement-card-button-exit" type="button" width="14" height="14">
                <use href="./images/sprite/sprite.svg#icon-close"></use>
            </svg>

            <div class="advertisement-card-name-container">
                <h2 class="advertisement-card-title">Victrola Vintage</h2>
                <p class="advertisement-card-code"><span>Код товару | </span> 105-С</p>
            </div>


            <div class="advertisement-card-slider">

                <div class="advertisement-card-slider-big-photo">
                    <img src="./images/test-item.png" alt="Goods photo">
                </div>

                <div class="advertisement-card-small-photo">
                    <ul class="advertisement-card-slider-list">
                        <li class="advertisement-card-slider-list-item"></li>
                        <li class="advertisement-card-slider-list-item"></li>
                        <li class="advertisement-card-slider-list-item"></li>
                        <li class="advertisement-card-slider-list-item"></li>
                        <li class="advertisement-card-slider-list-item"></li>
                    </ul>
                </div>

            </div>


            <div class="advertisement-card-main-container">

                <div class="advertisement-card-name-container tablet-desktop">
                    <h2 class="advertisement-card-title">Victrola Vintage</h2>
                    <p class="advertisement-card-code"><span>Код товару | </span> 105-С</p>
                </div>

                <!-- <div class="advertisement-card-price-div"> -->
                <h3 class="advertisement-card-price">1,200 00 €</h3>
                <!-- </div> -->

                <button class="advertisement-card-button-salesman-info" type="button">Информация о продавце</button>

                <div class="advertisement-card-buttons-div">
                    <p class="advertisement-card-favorites-and-share">В избранное</p>
                    <svg class="advertisement-card-favorites-svg" type="button" width="14" height="12">
                        <use href="./images/sprite/sprite.svg#icon-heart-favorite"></use>
                    </svg>
                    <p class="advertisement-card-favorites-and-share">Поделиться</p>
                    <svg class="advertisement-card-share-svg" type="button" width="15" height="16">
                        <use href="./images/sprite/sprite.svg#icon-share"></use>
                    </svg>
                </div>


                <div class="advertisement-card-description-div">
                    <h3 class="advertisement-card-description-title">Описание:</h3>
                    <p class="advertisement-card-description">Давно выяснено, что при оценке дизайна и композиции
                        читаемый текст
                        мешает
                        сосредоточиться. Lorem Ipsum используют
                        потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


</body>

</html>