<ul class="salesman-info-list">
    <li class="salesman-info-email">e-mail:{{email}}</li>
    <li class="salesman-info-registration-date">На OLX с {{registrationDate}}</li>
    <li class="salesman-info-phone">{{phone}}</li>
</ul>