// .modal-wrapper {
//   position: relative;
// }

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  overflow-x: hidden;
}

.modal {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.is-open {
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
}

.exit-btn-escape {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30px;
  margin-right: 29px;

  border: none;
  background-color: inherit;
}
