.modal-wrapper {
  position: relative;
}

.hiddenModalStyle {
  overflow-y: hidden;
  overflow-x: hidden;
}
.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: hidden;
  overflow-x: hidden;
}

.modal {
  background-color: $white-color;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  // max-width: 650px;
  // width: 100%;
  // @include for-size(mobile-only) {
  //   max-width: 290px;
  // }
}

.is-open {
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
}

.exit-btn-escape {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30px;
  margin-right: 29px;
  z-index: 9999;

  border: none;
  background-color: inherit;

  @include for-size(tablet-only) {
    margin-top: 20px;
    margin-right: 19px;
  }
}
