<section class="empty-cabinet section">
    <svg class="empty-cabinet-picture" fill="none" height="200" viewBox="0 0 240 240" width="200"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="m202.87 31.6355c12.214 5.6836 20.964 21.4895 19.241 34.9133-2.642 20.1417-24.398 23.1294-40.573 27.2719-12.444 3.1688-25.105 8.6833-32.603 19.1143-4.359 6.035-6.633 13.128-9.148 20.13-6.264 17.735-13.816 35.374-26.018 49.669s-29.4103 25.167-48.2458 26.105c-4.7346.266-9.5418-.157-13.9983-1.663-9.8563-3.144-17.6447-10.919-23.3107-19.5-8.0183-12.165-12.6566-26.429-13.2617-41.002-.4962-13.539 2.557-27.567 11.2036-38.119 12.2441-14.9963 32.7485-19.9431 51.8802-23.5838 19.0169-3.6286 39.4907-7.759 52.7507-21.933 4.07-4.3779 7.238-9.5903 11.307-13.9682 12.081-13.2367 31.558-21.3277 49.577-20.0887 4.323.2418 8.03 1.2454 11.199 2.6542z"
            fill="#f5f5f5" />
        <path
            d="m195.253 16.2367-118.0346-6.25658c-1.6141-.08556-2.992 1.15358-3.0776 2.76778l-2.8591 53.9396c-.0856 1.6142 1.1536 2.9921 2.7678 3.0776l118.0345 6.2566c1.614.0855 2.992-1.1537 3.077-2.7678l2.86-53.9396c.085-1.6142-1.154-2.9921-2.768-3.0776z"
            fill="#eec0bb" />
        <path clip-rule="evenodd"
            d="m82.2895 21.1886c.0336-.6052.5515-1.0686 1.1568-1.035l31.0637 1.7254c.605.0336 1.068.5515 1.035 1.1567-.034.6052-.552 1.0686-1.157 1.035l-31.0635-1.7253c-.6052-.0336-1.0686-.5515-1.035-1.1568z"
            fill="#fff" fill-rule="evenodd" />
        <path clip-rule="evenodd"
            d="m81.9621 27.4149c.032-.6053.5488-1.07 1.1541-1.038l62.0938 3.2914c.605.0321 1.07.5488 1.038 1.1541s-.549 1.07-1.154 1.0379l-62.094-3.2913c-.6053-.0321-1.07-.5488-1.0379-1.1541z"
            fill="#fff" fill-rule="evenodd" />
        <path clip-rule="evenodd"
            d="m81.6589 33.0955c.0321-.6053.5488-1.07 1.1541-1.0379l62.094 3.2914c.605.032 1.07.5488 1.038 1.1541s-.549 1.07-1.155 1.0379l-62.0932-3.2913c-.6053-.0321-1.07-.5488-1.0379-1.1542z"
            fill="#fff" fill-rule="evenodd" />
        <path
            d="m190.401 27.6441c-.129-1.4182-1.169-2.6697-2.587-3.0493-1.613-.3941-3.077.3576-3.836 1.6313-.524-1.3694-1.898-2.3327-3.552-2.1821-1.417.1291-2.67 1.2095-3.011 2.6319-.281 1.1528.065 2.2743.749 3.0687l4.497 5.2264c.324.3763.868.4168 1.244.0927l5.223-4.5016c.874-.7174 1.38-1.7361 1.273-2.918z"
            fill="#f2b500" />
        <g fill="#00896c">
            <circle cx="89.7536" cy="53.2652" r="6.98044"
                transform="matrix(.97174802 .23602075 -.23602075 .97174802 15.10741 -19.678864)" />
            <circle cx="118.973" cy="54.8893" r="6.98044"
                transform="matrix(.97174802 .23602075 -.23602075 .97174802 16.316237 -26.529365)" />
            <circle cx="148.656" cy="56.5377" r="6.98044"
                transform="matrix(.97174802 .23602075 -.23602075 .97174802 17.543897 -33.488598)" />
            <circle cx="178.339" cy="58.1866" r="6.98044"
                transform="matrix(.97174802 .23602075 -.23602075 .97174802 18.771675 -40.447817)" />
        </g>
        <path
            d="m129.137 46.4514-117.4138 13.6105c-1.6057.1861-2.75648 1.6387-2.57035 3.2444l6.21975 53.6557c.1862 1.606 1.6387 2.757 3.2444 2.571l117.414-13.611c1.605-.186 2.756-1.639 2.57-3.244l-6.22-53.6563c-.186-1.6057-1.638-2.7565-3.244-2.5703z"
            fill="#1a4698" />
        <path clip-rule="evenodd"
            d="m18.601 70.262c-.0683-.6023.3646-1.146.9669-1.2142l30.9135-3.5043c.6023-.0683 1.1459.3646 1.2142.9669s-.3646 1.146-.9669 1.2142l-30.9135 3.5043c-.6023.0683-1.1459-.3646-1.2142-.9669z"
            fill="#fff" fill-rule="evenodd" />
        <path clip-rule="evenodd"
            d="m19.3216 76.454c-.0698-.6021.3617-1.1468.9639-1.2166l61.7672-7.16c.6021-.0698 1.1468.3617 1.2166.9638.0698.6022-.3617 1.1469-.9639 1.2167l-61.7672 7.16c-.6021.0698-1.1468-.3617-1.2166-.9639z"
            fill="#fff" fill-rule="evenodd" />
        <path clip-rule="evenodd"
            d="m19.974 82.1049c-.0698-.6021.3618-1.1468.9639-1.2166l61.7672-7.1601c.6021-.0698 1.1468.3618 1.2166.9639.0698.6022-.3617 1.1469-.9639 1.2167l-61.7671 7.16c-.6022.0698-1.1469-.3618-1.2167-.9639z"
            fill="#fff" fill-rule="evenodd" />
        <path
            d="m126.266 58.5106c-.365-1.3766-1.6-2.436-3.062-2.5726-1.656-.1183-2.973.868-3.508 2.251-.746-1.2623-2.262-1.9817-3.867-1.5562-1.376.3648-2.43 1.6399-2.528 3.0993-.084 1.1837.446 2.2312 1.253 2.8998l5.309 4.3989c.382.3167.926.2655 1.242-.117l4.395-5.3131c.742-.8538 1.07-1.9429.766-3.0901z"
            fill="#f2b500" />
        <circle cx="31.3338" cy="100.636" fill="#da3404" r="6.98044"
            transform="matrix(.99755743 .06985101 -.06985101 .99755743 7.106061 -1.942888)" />
        <circle cx="60.4126" cy="97.3382" fill="#da3404" r="6.98044"
            transform="matrix(.99755743 .06985101 -.06985101 .99755743 6.946734 -3.982126)" />
        <circle cx="89.952" cy="93.99" fill="#da3404" r="6.98044"
            transform="matrix(.99755743 .06985101 -.06985101 .99755743 6.78501 -6.053662)" />
        <circle cx="119.492" cy="90.6414" fill="#da3404" r="6.98044"
            transform="matrix(.99755743 .06985101 -.06985101 .99755743 6.623261 -8.12524)" />
        <path
            d="m220.079 113.535-115.251-26.2383c-1.576-.3588-3.145.628-3.504 2.2041l-11.9902 52.6672c-.3588 1.577.628 3.145 2.2041 3.504l115.2511 26.238c1.576.359 3.145-.628 3.503-2.204l11.991-52.667c.359-1.576-.628-3.145-2.204-3.504z"
            fill="#00896c" />
        <path clip-rule="evenodd"
            d="m107.919 99.2048c.137-.5907.726-.9593 1.316-.8232l30.318 6.9834c.591.136.959.725.823 1.315-.136.591-.725.96-1.316.824l-30.317-6.983c-.591-.136-.96-.7255-.824-1.3162z"
            fill="#fff" fill-rule="evenodd" />
        <path clip-rule="evenodd"
            d="m106.538 105.283c.134-.591.723-.961 1.314-.826l60.629 13.803c.591.134.961.722.827 1.313-.135.592-.723.962-1.314.827l-60.63-13.803c-.591-.135-.961-.723-.826-1.314z"
            fill="#fff" fill-rule="evenodd" />
        <path clip-rule="evenodd"
            d="m105.273 110.829c.135-.591.723-.961 1.314-.827l60.629 13.804c.591.134.961.722.827 1.313-.135.591-.723.961-1.314.827l-60.629-13.803c-.591-.135-.962-.723-.827-1.314z"
            fill="#fff" fill-rule="evenodd" />
        <path
            d="m213.358 123.951c.115-1.419-.698-2.83-2.031-3.445-1.522-.662-3.092-.171-4.057.955-.283-1.438-1.474-2.621-3.129-2.754-1.418-.114-2.837.738-3.415 2.082-.473 1.088-.322 2.252.216 3.151l3.543 5.915c.255.426.785.558 1.21.303l5.913-3.548c.983-.558 1.655-1.476 1.75-2.659z"
            fill="#f2b500" />
        <circle cx="109.819" cy="132.084" fill="#1a4698" r="6.98044"
            transform="matrix(.91745492 .39783975 -.39783975 .91745492 61.613283 -32.787479)" />
        <circle cx="138.337" cy="138.652" fill="#1a4698" r="6.98044"
            transform="matrix(.91745492 .39783975 -.39783975 .91745492 66.580315 -43.590917)" />
        <circle cx="167.307" cy="145.325" fill="#1a4698" r="6.98044"
            transform="matrix(.91745492 .39783975 -.39783975 .91745492 71.626431 -54.565511)" />
        <circle cx="196.277" cy="151.997" fill="#1a4698" r="6.98044"
            transform="matrix(.91745492 .39783975 -.39783975 .91745492 76.672148 -65.540188)" />
        <path
            d="m132.417 155.356c-2.664-8.224-9.186-16.541-16.259-13.491-7.992 3.326-10.197 7.577-14.514 14.138-4.4096 6.56-7.0735 14.137-9.6456 21.53-1.0104 2.957-2.0209 6.283-.4593 8.963 1.3779 2.31 4.1337 3.234 6.7058 3.881 6.6141 1.755 13.3201 3.326 20.0251 4.528 2.664.462 5.696.924 8.084-.462 3.031-1.756 3.95-5.637 4.593-9.056 2.205-12.105 4.409-24.21 6.614-36.315"
            fill="#da3404" />
        <path
            d="m124.117 132.446s1.088 9.725.502 11.592c0 0 7.019 22.934 12.35 20.552 5.33-2.382 10.899-25.66 10.899-25.66-1.04-2.185-3.886-17.39-3.886-17.39"
            fill="#eec0bb" />
        <path
            d="m115.477 101.348c-3.141 7.771-7.765 28.478 5.873 32.468 11.247 3.334 18.902-9.624 18.902-9.624s1.681.707 3.277.017c2.533-1.168 4.844-5.292 3.55-9.326-1.087-3.389-3.634-4.53-3.634-4.53s-.282-8.81-4.74-13.0751c-7.099-6.2662-19.523-4.7723-23.228 4.0701z"
            fill="#eec0bb" />
        <path
            d="m142.976 113.209c-3.967 1.273-4.454 5.441-4.454 5.441l-2.798-.197s.159-9.167-.59-10.933c-.212-.661-1.522-1.335-2.177-1.671-.927-.615-2.296-.905-3.447-1.083-5.92-.835-12.296-.248-18.098-1.851-1.806-.515-3.5-1.248-4.804-2.471-1.304-1.2222-1.993-3.3713-1.26-5.0651.904-2.2958 3.45-4.024 5.817-4.6012.331-.1061 2.698-.6833 2.857-.1873 0 0-6.217-8.5806.608-10.0408s10.724 3.3057 10.724 3.3057-1.816-4.5228 1.101-5.0937c2.916-.571 11.8 10.0713 16.292 11.0005 4.492.9293 6.704 4.4133 7.705 8.1033 3.145 13.2126-3.127 19.2366-3.127 19.2366s-1.208-4.9-4.349-3.893z"
            fill="#591d06" />
        <path
            d="m124.685 137.84-10.539 4.844c-5.355 4.168-6.82 11.088-6.635 17.85l-4.34 76.54h66.585s-1.473-12.336-2.195-20.854c-1.264-14.912 5.878-36.883 5.878-36.883.739-5.372 1.2-16.395-.185-21.582-3.601-13.431-16.12-17.873-25.815-20.559 0 0-6.951 20.559-15 15.732-2.002 0-7.2-9.438-7.754-15.088z"
            fill="#da3404" />
        <path
            d="m153.659 139.025c7.271 3.066 15.558 6.225 20.499 12.264 5.127 6.132 6.899 14.401 6.526 22.391-.373 7.897-2.704 15.608-5.034 23.227-.933 2.973-2.145 6.318-4.941 7.525-2.518 1.022-5.314.093-7.832-.836-6.432-2.508-12.865-5.295-19.111-8.269-2.517-1.207-5.221-2.601-6.34-5.202-1.491-3.252.093-6.876 1.678-10.127 5.408-11.149 10.815-22.298 16.222-33.355"
            fill="#da3404" />
        <path
            d="m141.886 194.247-1.578 6.194-32.11-23.296-9.8378-13.867c-1.2993-1.849-3.341-3.143-5.5683-3.605-2.413-.463-4.8259.092-6.8677 1.479l-9.0949 6.471s.2784 4.899 2.5057 3.882c2.2274-1.016 6.6821-3.42 6.6821-3.42l1.2064 11.74 5.3828 3.883 5.3827 4.16 36.194 35.776c7.796 7.673 20.881 5.547 25.8-4.16l5.383-15.161z"
            fill="#eec0bb" />
        <path
            d="m92.4005 187.738-1.6659 13.349-20.3605-17.428-11.1058 2.927s11.476 23.957 20.5457 33.505c9.0697 9.549 13.9747 10.939 17.399 11.125 4.72.185 6.849-5.562 6.849-5.562l2.036-33.281z"
            fill="#eec0bb" />
        <path
            d="m67.9143 155.123h-14.293c-1.8081 0-2.9274 1.873-2.1525 3.406l14.0346 27.085c.5166 1.107 1.636 1.704 2.9275 1.704h17.2204c1.0333 0 1.7221-1.108 1.2916-2.044l-13.8625-27.085c-1.0332-1.874-3.0136-3.066-5.1661-3.066z"
            fill="#1c398e" />
        <path
            d="m65.7297 163.903-7.8022 3.046c-1.0757.42-1.89 1.323-2.1967 2.436l-1.2354 4.484c-.2256.818-.1593 1.69.1874 2.465l4.5856 10.252 16.2552 2.195-3.5921-3.609c-.8204-.824-1.2001-1.99-1.0226-3.139l.3769-2.442s4.7087-1.485 4.8028-2.135c.0942-.743-.565-3.064-1.3184-3.156-.7533-.093-5.6503 1.671-5.6503 1.671s5.8387-4.549 5.6503-5.292c-.1883-.742-.7533-2.599-1.9776-2.785-.7501-.123-5.1517 1.758-8.0266 3.037-1.6303.725-2.9163 2.043-3.6331 3.676l-.3944.899-1.3184-5.476c.0942-.093 8.3814-2.414 6.3096-6.127z"
            fill="#eec0bb" />
    </svg>
    <h3 class="section-title"> У вас еще нет списков желаний </h3>
</section>