<div class="empty-cabinet"><img alt="" class="empty-cabinet-picture" src="">
    <svg height="240" viewBox="0 -5 512 511" width="240" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M11 256.5c0-135.133 109.402-244.71 244.465-245C391.379 11.21 500.925 120.445 501 256.36c.04 67.046-26.863 127.804-70.465 172.062-7.14 7.25-18.55 7.883-26.656 1.734C362.78 398.996 311.55 380.5 256 380.5c-55.668 0-106.996 18.574-148.137 49.855-8.004 6.082-19.226 5.336-26.289-1.82C37.938 384.297 11 323.547 11 256.5zm0 0"
            fill="#b0dde9" />
        <path
            d="M266 258.082c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10 10 4.477 10 10zM256 210.5c-5.523 0-10 4.477-10 10s4.477 10 10 10 10-4.477 10-10-4.477-10-10-10zm0-37.582c-5.523 0-10 4.477-10 10s4.477 10 10 10 10-4.477 10-10-4.477-10-10-10zm-53.785 78.094c-3.903 3.906-3.903 10.238 0 14.14 3.906 3.907 10.238 3.907 14.144 0 3.903-3.902 3.903-10.234 0-14.14-3.906-3.907-10.238-3.907-14.144 0zm-26.574-26.575c-3.907 3.907-3.907 10.239 0 14.141 3.906 3.906 10.238 3.906 14.14 0 3.906-3.902 3.906-10.234 0-14.14-3.902-3.907-10.234-3.907-14.14 0zm-26.575-26.574c-3.906 3.903-3.906 10.235 0 14.14s10.239 3.907 14.141 0c3.906-3.905 3.906-10.237 0-14.14-3.902-3.906-10.234-3.906-14.14 0zm213.868 0c-3.907-3.906-10.239-3.906-14.141 0-3.906 3.903-3.906 10.235 0 14.14 3.902 3.907 10.234 3.907 14.14 0s3.907-10.237 0-14.14zm-40.72 26.574c-3.902 3.907-3.902 10.239 0 14.141 3.907 3.906 10.24 3.906 14.145 0 3.903-3.902 3.903-10.234 0-14.14-3.906-3.907-10.238-3.907-14.144 0zm-26.573 26.575c-3.907 3.906-3.907 10.238 0 14.14 3.906 3.907 10.238 3.907 14.14 0 3.906-3.902 3.906-10.234 0-14.14-3.902-3.907-10.234-3.907-14.14 0zm0 0"
            fill="#95bcc9" />
        <path
            d="M431 275.5v152.441C386.531 473.324 324.559 501.5 256 501.5s-130.531-28.176-175-73.559V301.863l-61.27 36.758C11.047 343.832 0 337.578 0 327.45c0-4.363 2.188-8.437 5.824-10.851l81.594-53.387c.191-.137.8-.516.8-.516A14.91 14.91 0 0196 260.5h320c8.285 0 15 6.715 15 15zm0 0"
            fill="#dca050" />
        <path
            d="M512 327.45c0 10.128-11.047 16.382-19.73 11.171L431 301.863v126.078C386.531 473.324 324.559 501.5 256 501.5c-54.71 0-105.223-17.938-146-48.242V275.5c0-8.285 6.715-15 15-15h291c2.855 0 5.504.785 7.777 2.172 0 0 .59.375.786.508l81.613 53.418A13.027 13.027 0 01512 327.449zm0 0"
            fill="#ebae56" />
        <path
            d="M186.855 450.5v16.57c0 5.524-4.476 10-10 10h-16.57c-5.523 0-10-4.476-10-10V450.5c0-5.523 4.477-10 10-10h16.57c5.524 0 10 4.477 10 10zm-60.285-10H110c-3.984 0-7.418 2.34-9.023 5.715a245.75 245.75 0 0035.097 23.957c.32-.977.496-2.02.496-3.102V450.5c0-5.523-4.476-10-10-10zm100.575 0H210.57c-5.52 0-10 4.477-10 10v16.57c0 5.524 4.48 10 10 10h16.575c5.52 0 10-4.476 10-10V450.5c0-5.523-4.48-10-10-10zm0 0"
            fill="#ce9047" />
        <path
            d="M94.86 259.543A15.73 15.73 0 0196 259.5h320.164c7.418.078 12.578 7.46 10.43 14.563l-33.371 110.28A14.999 14.999 0 01378.867 395H131.293a14.997 14.997 0 01-14.414-10.852L85.145 273.902c-1.946-6.765 2.69-13.832 9.714-14.359zm0 0"
            fill="#fff2b4" />
        <path d="M336 80.5c0 44.184-35.816 80-80 80s-80-35.816-80-80 35.816-80 80-80 80 35.816 80 80zm0 0"
            fill="#73d37a" />
        <path
            d="M320.422 127.922C305.855 147.68 282.43 160.5 256 160.5c-44.184 0-80-35.816-80-80 0-26.43 12.82-49.855 32.578-64.422C198.793 29.348 193 45.746 193 63.5c0 44.184 35.816 80 80 80 17.754 0 34.152-5.793 47.422-15.578zm0 0"
            fill="#49cb5c" />
        <path
            d="M280.07 30.5c3.907 0 7.758.871 11.282 2.55l13.367 6.364a4 4 0 012.281 3.61V66.5c0 2.21-1.79 4-4 4h-17v55a5 5 0 01-5 5h-50a5 5 0 01-5-5v-55h-17c-2.21 0-4-1.79-4-4V43.027c0-1.543.887-2.949 2.281-3.613l13.367-6.363A26.22 26.22 0 01231.93 30.5c1.043 0 2.054.398 2.789 1.14 5.433 5.47 12.96 8.86 21.281 8.86s15.848-3.39 21.281-8.863a3.929 3.929 0 012.79-1.137zm0 0"
            fill="#ddf4ba" />
        <path d="M160 130.5c0 44.184-35.816 80-80 80s-80-35.816-80-80 35.816-80 80-80 80 35.816 80 80zm0 0"
            fill="#fd7a7a" />
        <path
            d="M144.422 177.922C129.855 197.68 106.43 210.5 80 210.5c-44.184 0-80-35.816-80-80 0-26.43 12.82-49.855 32.578-64.422C22.793 79.348 17 95.746 17 113.5c0 44.184 35.816 80 80 80 17.754 0 34.152-5.793 47.422-15.578zm0 0"
            fill="#fd5757" />
        <path
            d="M125 137.422c0 19.234-20.148 43.539-45 43.539s-45-24.305-45-43.54c0-8.073 3.55-13.972 9.512-18.097 6.136-4.254 14.011-4.844 20.968-2.12a40.676 40.676 0 009.555 2.468c.2-3.95 1.328-7.66 3.16-10.918-6.894 2.586-15.218.918-21.062-4.926-6.156-6.152-7.684-15.07-4.48-22.156 7.09-3.203 16.003-1.676 22.156 4.48 5.414 5.41 7.246 12.957 5.43 19.524 4.577-5.906 11.734-9.715 19.765-9.715 2.762 0 5 2.234 5 5a5 5 0 01-5 5c-7.832 0-14.274 6.031-14.938 13.695a40.63 40.63 0 009.457-2.453c6.954-2.723 14.829-2.133 20.97 2.117 5.956 4.13 9.507 10.028 9.507 18.102zm0 0"
            fill="#fdcbbb" />
        <path d="M512 130.5c0 44.184-35.816 80-80 80s-80-35.816-80-80 35.816-80 80-80 80 35.816 80 80zm0 0"
            fill="#649eb0" />
        <path
            d="M496.422 177.922C481.855 197.68 458.43 210.5 432 210.5c-44.184 0-80-35.816-80-80 0-26.43 12.82-49.855 32.578-64.422C374.793 79.348 369 95.746 369 113.5c0 44.184 35.816 80 80 80 17.754 0 34.152-5.793 47.422-15.578zm0 0"
            fill="#458fa4" />
        <path
            d="M413.5 115.5c0 4.14-3.36 7.5-7.5 7.5s-7.5-3.36-7.5-7.5 3.36-7.5 7.5-7.5 7.5 3.36 7.5 7.5zM466 108c-4.14 0-7.5 3.36-7.5 7.5s3.36 7.5 7.5 7.5 7.5-3.36 7.5-7.5-3.36-7.5-7.5-7.5zm24 47.113c0 8.5-6.89 15.387-15.387 15.387a15.385 15.385 0 01-15.086-12.367l-.386-1.946A19.522 19.522 0 00440 140.5h-8c-9.3 0-17.313 6.566-19.137 15.688l-.386 1.945a15.39 15.39 0 01-15.09 12.367c-8.496 0-15.383-6.89-15.383-15.387 0-9.726.77-19.437 2.309-29.043l3.058-19.136c1.516-9.47 9.684-16.434 19.274-16.434h58.714c9.586 0 17.754 6.965 19.27 16.434l3.062 19.136A184.026 184.026 0 01490 155.113zM421 115.5c0-8.285-6.715-15-15-15s-15 6.715-15 15 6.715 15 15 15 15-6.715 15-15zm13 11c0-2.21-1.79-4-4-4s-4 1.79-4 4 1.79 4 4 4 4-1.79 4-4zm12 0c0-2.21-1.79-4-4-4s-4 1.79-4 4 1.79 4 4 4 4-1.79 4-4zm35-11c0-8.285-6.715-15-15-15s-15 6.715-15 15 6.715 15 15 15 15-6.715 15-15zm0 0"
            fill="#b0dde9" />
    </svg>
    <h3 class="userItems-list-item-title"> Вы еще не создали ни одного товара </h3>
</div>