.registrationForm {
  width: 290px;
  margin: 0 auto;
  padding: 47px 17px 7px 17px;
  @include for-size(tablet) {
    width: 480px;
    padding: 50px;
  }
}

.registration-title {
  font-weight: 500;
  @include for-size(tablet) {
    margin-top: 50px;
    font-size: 14px;
  }
}

.registration-title-first {
  margin-top: 20px;
  @include for-size(tablet) {
    margin-top: 50px;
    font-size: 14px;
  }
}
.reg-aut-btn {
  display: flex;
  justify-content: space-between;
}

.registration-input {
  background-color: $white-color;
  padding-left: 25px;
  font-size: 14px;
  width: 100%;
  height: 50px;
  margin-top: 26px;
  border: 1px solid $tertirary-gray-color;
}

.input-reg {
  text-align: center;
  position: relative;
}

.reg-aut-btn .enterAccount {
  margin-top: 30px;
  width: 120px;
  height: 50px;
  background-color: $orange-color;
  border: none;
  color: #FAFAFA;
  font-weight: 700;
  transition: 0.3s;
  margin-bottom: 47px;
  @include for-size(tablet) {
    width: 180px;
    height: 60px;
    margin-bottom: 50px;
  }
}

.reg-aut-btn .registerAccount {
  margin-top: 30px;
  background-color: #ffffff;
  ;
  width: 120px;
  height: 50px;
  border: none;
  border: 1px solid #BBBBBB;
  font-weight: 700;
  transition: 0.3s;
  margin-bottom: 47px;
  @include for-size(tablet) {
    width: 180px;
    height: 60px;
    margin-bottom: 50px;
  }
}

.registration-input::placeholder {
  padding-left: 10px;
  color: $tertirary-gray-color;
  border: $tertirary-gray-color;
}

.reg-aut-btn button:hover {
  background-color: $orange-color;
  color: #FAFAFA;
  border: none;
}

.registration-google {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #FAFAFA;
  ;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  border: none;
  font-weight: 700;
  font-size: 14px;
  margin-top: 26px;
  transition: 0.3s;
  text-decoration: none;
  @include for-size(tablet) {
    margin-top: 30px;
    display: inline-flex;
  }
}

.registration-google:hover {
  background-color: $orange-color;
  color: #FAFAFA;
}

.registration-google-svg {
  margin-right: 10px
}

.form__error {
  color: red;
  text-align: left;
  font-size: 10px;
  display: block;
  margin-top: 3px;
  display: none;
}

.valid:valid:not(:placeholder-shown) {
  border-color: green;
}

.valid:invalid:not(:placeholder-shown) {
  border-color: red;
}

.valid:invalid:not(:placeholder-shown)+.form__error {
  display: block;
}

.show-password {
  display: flex;
  margin-top: 10px;
}

#show_password {
  margin-right: 3px;
  display: none;
}

.showPassEye {
  cursor: pointer;
  fill: $orange-color;
  position: absolute;
  top: 43px;
  right: 28px;
}
