$orange-color: #ff6b09;
$main-gray-color: #5e6671;
$secondary-gray-color: #a8a8a8;
$tertirary-gray-color: #bbbbbb;
$fourth-gray-color: #f4f4f4;
$Header-backgound: #122438;
$Header-dropout-menu: #02182d;
$footer-gray-color: #8e9198;
$main-black: #000000;
$white-color: #ffffff;
$hero-slider: #11243b;
$loadmore-btn: #02172a;

