.modal {
  max-width: 650px;
  width: 100%;
  @include for-size(mobile-only) {
    max-width: 290px;
  }
}

.exit-text {
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.02em;

  margin-top: 62px;

  @include for-size(tablet-only) {
    margin-top: 47px;
  }
}

.exit-btn {
  width: 210px;
  height: 60px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.21;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  background-color: inherit;
  border: 1px solid #bbbbbb;

  @include for-size(tablet-only) {
    width: 118px;
    height: 50px;
  }
}
.confirm {
  margin-right: 20px;
  background: #ff6b09;
  @include for-size(tablet-only) {
    margin-right: 15px;
  }
}

.exit-btn-group {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 61px;
  @include for-size(tablet-only) {
    margin-bottom: 44px;
  }
}

// .exit-btn-escape {
//   position: absolute;
//   top: 0;
//   right: 0;
//   margin-top: 30px;
//   margin-right: 29px;

//   border: none;
//   background-color: inherit;
// }

.exit-svg {
  width: 14px;
  height: 14px;
}
