<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="./css/header.css" />
  </head>
  <body> -->
    <header>
      <div class="container">
        <button class="burger-menu-button">
          <svg class="burger-menu-icon" width="20" height="20">
            <use href="./images/sprite/sprite.svg#icon-menu"></use>
          </svg>
        </button>
        <a href="./index.html" class="header-logo-link">
          <img class="header-logo" src="./images/logo.svg" alt="Company logo" />
          <!-- <svg class="header-logo">
            <use href="./images/sprite/sprite.svg#icon-logo"></use>
          </svg> -->
        </a>
        <div class="input-container is-hidden">
          <input class="header-input" type="text" pattern="[A-Za-zА-Яа-яЁё]" />
          <svg class="loupe-icon" width="24" height="24">
            <use href="./images/sprite/sprite.svg#icon-search"></use>
          </svg>
        </div>
        <button class="mobile-search-button">
          <svg class="loupe-icon-mobile" width="24" height="24">
            <use href="./images/sprite/sprite.svg#icon-search"></use>
          </svg>
        </button>
        <ul class="authentication-block is-hidden">
          <li><button class="registration-button">Регистрация</button></li>
          <li><button class="login-button">Войти</button></li>
        </ul>
        <ul class="my-cabinet-block is-hidden">
          <li>
            <button class="my-cabinet-button">
              <svg class="user-icon" width="20" height="20">
                <use href="./images/sprite/sprite.svg#icon-user-profile"></use>
              </svg>
              МОЙ КАБИНЕТ
            </button>
          </li>
          <li>
            <button class="logout-button">
              <svg class="logout-icon" width="20" height="20">
                <use href="./images/sprite/sprite.svg#icon-logout"></use>
              </svg>
            </button>
          </li>
        </ul>
        <button class="create-ad-button">Создать обьявление</button>
        <div class="header-filter-container is-hidden">
          <ul class="header-filter-list">
            <li><button class="header-filter-item">Недвижимость</button></li>
            <li><button class="header-filter-item">Транспорт</button></li>
            <li><button class="header-filter-item">Работа</button></li>
            <li><button class="header-filter-item">Электроника</button></li>
            <li><button class="header-filter-item">Бизнес и услуги</button></li>
            <li><button class="header-filter-item">Отдых и спорт</button></li>
            <li><button class="header-filter-item">Отдам бесплатно</button></li>
            <li><button class="header-filter-item">Обмен</button></li>
          </ul>
        </div>
        <ul class="filter-clear-block is-hidden">
          <li>
            <button class="header-filter-button">
              <svg class="filter-icon button-icon" width="24" height="24">
                <use href="./images/sprite/sprite.svg#icon-tune"></use>
              </svg>
              Фильтры
            </button>
          </li>
          <li>
            <button class="header-clear-button">
              <svg class="clear-icon button-icon" width="24" height="24">
                <use href="./images/sprite/sprite.svg#icon-replay"></use>
              </svg>
              Очистить
            </button>
          </li>
        </ul>
        <div class="mobile-menu is-hidden">
          <button class="mobile-close-button">
            <svg class="close-icon button-icon" width="24" height="24">
              <use href="./images/sprite/sprite.svg#icon-close"></use>
            </svg>
          </button>
        </div>
      </div>
    </header>
<!-- </body>
</html> -->
