{{#each this}}
<li class="search-goods-item">
    <div class="search-item-wrapper">
        <img class="search-item-image" src="{{imageUrls}}" alt="{{title}}" width="250" />
    </div>
    <h3 class="search-item-title">
        {{title}}
    </h3>
    <p class="search-item-price">{{price}} €</p>
</li>
{{/each}}