.section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.section-link {
  line-height: 1.22;

  margin-left: 12px;

  color: $orange-color;
}

.card-list {
  padding-left: 0;
  margin-bottom: 0;
  // margin-left: -20px;++

  @include for-size(tablet) {
    // display: flex;
    // flex-wrap: wrap;
  }
}

.userItems-list-item {
  background-color: $white-color;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 24px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;

  @include for-size(tablet) {
    flex-basis: auto !important;
    // width: calc((100% - 2 * 20px) / 2);
    width: calc((100% - 1 * 20px) / 2);
  }

  @include for-size(desktop) {
    // width: calc((100% - 4 * 20px) / 4);
    width: calc((100% - 3 * 20px) / 4);
  }
}

.userItems-list-item-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  // max-width: 230px;
  font-weight: 700;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 3px;

  color: $main-black;
}

.userItems-list-item-price {
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.04em;

  margin-top: 0;
  margin-bottom: 0;

  color: $orange-color;
}

.empty-cabinet {
  text-align: center;
}

.empty-cabinet-picture {
  width: 100%;
  max-width: 240px;
  margin-bottom: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btnGoBack {
  min-height: 0px;
  min-width: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
